.nav-container{
 background-color: #444;   
 margin: 0px;
 padding: 0px;
display: flex;
/* justify-content: space-around; */
}
.logo{
background-color: blueviolet;
height: 2rem;
width: 2.5rem;
border-radius: 50%;
}
ul{
    display: flex;
}
li{
   /* display: flex;  */
    justify-content: space-between;
}
